
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>

    <header>
        <div class="header-container-father">
            <div class="header-container">
                <a href="/" class="logo">
                    <img src="/img/logo-mercado-liebre.svg" alt="">
                </a>
                <div class="searchbutton-container">
                    <input class="searchbar" type="text" placeholder="Buscar productos, marcas y más">
                    <button class="search-buttom"><i class="fas fa-search"></i></button>
                </div>
            </div>
    
            <p class="header-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <ul class="navigation-bar">
            <div class="navigation-item">
                <a href="">Ofertas </a>
                <a href="">Tiendas Oficiales </a>
                <a href="">Vender </a>
                <a href="">Ayuda </a>
            </div>
            <div class="navigation-item">
                <a href="/register">Creá tu cuenta <i class="far fa-address-card"></i> </a>
                <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a>
                <a href="">Mis compras <i class="fas fa-shopping-basket"></i> </a>
            </div>
        </ul>
        <button class="header-buttom"><i class="fas fa-bars"></i></button>
    </header>

    <main>
        <img src="/img/img-home-banner.jpg" alt="">
        <section>
            <h3 class="titular">Basado en tu ultima visita</h4>
            <div class="productos">                
                <div  class="producto">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="product-box">
                        <i class="fas fa-truck icono-envio"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento-producto">40% off</p>
                        <h4 class="descripcion-producto">Cafetera Moulinex</h4>
                    </div>
                </div>
                <div  class="producto">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    <div class="product-box">
                        <i class="fas fa-truck icono-envio"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento-producto">20% off</p>
                        <h4 class="descripcion-producto">MacBook Pro 2019</h4>
                    </div>
                </div>
                <div  class="producto">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="product-box">
                        <i class="fas fa-truck icono-envio"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento-producto">10% off</p>
                        <h4 class="descripcion-producto">Samsung Galaxy S10</h4>
                    </div>
                </div>
                <div  class="producto">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="product-box">
                        <i class="fas fa-truck icono-envio"></i>
                        <p class="precio">$34.990</p>
                        <p class="descuento-producto">40% off</p>
                        <h4 class="descripcion-producto">TV Samsung Smart</h4>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h3 class="titular">Sección de Ofertas</h4>
            <div class="productos">
                <div  class="producto">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="product-box">
                        <i class="fas fa-truck icono-envio"></i>
                        <p class="precio">$6.770</p>
                        <p class="descuento-producto">40% off</p>
                        <h4 class="descripcion-producto">Cafetera Moulinex</h4>
                    </div>
                </div>
                <div  class="producto">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    <div class="product-box">
                        <i class="fas fa-truck icono-envio"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento-producto">20% off</p>
                        <h4 class="descripcion-producto">MacBook Pro 2019</h4>
                    </div>
                </div>
                <div  class="producto">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="product-box">
                        <i class="fas fa-truck icono-envio"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento-producto">10% off</p>
                        <h4 class="descripcion-producto">Samsung Galaxy S10</h4>
                    </div>
                </div>
                <div  class="producto">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="product-box">
                        <i class="fas fa-truck icono-envio"></i>
                        <p class="precio">$34.990</p>
                        <p class="descuento-producto">40% off</p>
                        <h4 class="descripcion-producto">TV Samsung Smart</h4>
                    </div>
                </div>
            </div>
        </section>
        <br>

    </main>

    <footer>
        <div class="footer-items">
            <section class="footer-item">
                <i class="fas fa-credit-card footer-icon"></i>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="footer-item">
                <i class="fas fa-gift footer-icon"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="footer-item">
                <i class="fas fa-user-shield footer-icon"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <br>
        <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
    
</body>
</html>