
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/estilos.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Register</title>
</head>
<body>

    <header>
        <div class="header-container-father">
            <div class="header-container">
                <a href="/" class="logo">
                    <img src="/img/logo-mercado-liebre.svg" alt="">
                </a>
                <div class="searchbutton-container">
                    <input class="searchbar" type="text" placeholder="Buscar productos, marcas y más">
                    <button class="search-buttom"><i class="fas fa-search"></i></button>
                </div>
            </div>
    
            <p class="header-text"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <ul class="navigation-bar">
            <div class="navigation-item">
                <a href="">Ofertas </a>
                <a href="">Tiendas Oficiales </a>
                <a href="">Vender </a>
                <a href="">Ayuda </a>
            </div>
            <div class="navigation-item">
                <a href="/register">Creá tu cuenta <i class="far fa-address-card"></i> </a>
                <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a>
                <a href="">Mis compras <i class="fas fa-shopping-basket"></i> </a>
            </div>
        </ul>
        <button class="header-buttom"><i class="fas fa-bars"></i></button>
    </header>

    <main>
    <form action="" method="POST" style="margin: auto; max-width: 500px; width: 100%;">
            <input type="text" placeholder="Nombre y apellido" class="form-input">
            <br>
            <input type="text" placeholder="Nombre de usuari@" class="form-input">
            <br>
            <br>
            <label for="" class="form-label">Fecha de nacimiento</label>
            <br>
            <input type="date" placeholder="Fecha de Nacimiento" class="form-input">
            <br>
            <input type="text" placeholder="Domicilio" class="form-input">
            <br>
            <br>
            <label for="" class="form-label">Perfil del usuario</label>
            <br>
            <div class="form-item">
                <input type="radio" name="perfil" id="">
                <label for="">Comprador</label>
                <input type="radio" name="perfil" id="">
                <label for="">Vendedor</label>
            </div>
            <br>
            <label for="" class="form-label">Intereses</label>
            <br>
            <div class="form-item">
                <input type="checkbox" name="" id="">
                <label for="">Electro</label>
                <br>
                <input type="checkbox" name="" id="">
                <label for="">Moda</label>
                <br>
                <input type="checkbox" name="" id="">
                <label for="">Hogar</label>
                <br>
                <input type="checkbox" name="" id="">
                <label for="">Juguetería</label>
                <br>
                <input type="checkbox" name="" id="">
                <label for="">Vida sana</label>
            </div>
            <br>
            <label for="" class="form-label">Foto de perfil</label>
            <br>
            <input type="file" accept=".jpg" class="form-item">
            <br>
            <input type="password" placeholder="Contraseña" class="form-input">
            <br>
            <input type="password" placeholder="Confirmar contraseña" class="form-input">
            <br>
            <button type="submit" class="form-button-submit">Enviar</button>
            <br>
            <button type="reset" class="form-button-reset">Borrar datos</button>

        </form>




    </main>

    <footer>
        <div class="footer-items">
            <section class="footer-item">
                <i class="fas fa-credit-card footer-icon"></i>
                <h3>Pagá con tarjeta o efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="footer-item">
                <i class="fas fa-gift footer-icon"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="footer-item">
                <i class="fas fa-user-shield footer-icon"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </section>
        </div>
        <br>
        <section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
    
</body>
</html>